<div class="event-promo">
  <img class="event-promo__image" src={{imageSrc}} />
  <h2 class="event-promo__title">
    <a class="event-promo__link" href={{mainUrl}}>{{title}}</a>
  </h2>
  <div class="event-promo__meta">
    {{#each meta.types as |type|}}
      <span class="event-promo__type">{{type}}</span>
    {{/each}}
  </div>
  <div class="event-promo__date-time">
    <span class="event-promo__date">{{dateTime.dateHuman}}</span>
    {{#each datTime.times as |time|}}
      <span class="event-promo__time">{{time}}</span>
    {{/each}}
  </div>
  <div class="event-promo__description">
    {{{description}}}
  </div>
  <div class="event-promo__extra">
    {{{extra}}}
  </div>
</div>
