<!--[if IE ]><![endif]-->
<!DOCTYPE html>
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>Wellcome Styleguide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
    </script>
    <link rel="stylesheet" type="text/css" href="{{ assetPath 'css/styleguide.css' }}">
    <script src="{{ assetPath 'js/styleguide.js' }}"></script>
  </head>
  <body>
    <svg width="0" height="0" display="none">
    <symbol id="icon-chevron" viewBox="0 0 20 20">
      <path d="M9.163 4.516c0.418 0.408 4.502 4.695 4.502 4.695 0.223 0.219 0.335 0.504 0.335 0.789s-0.112 0.57-0.335 0.787c0 0-4.084 4.289-4.502 4.695-0.418 0.408-1.17 0.436-1.615 0-0.446-0.434-0.481-1.041 0-1.574l3.747-3.908-3.747-3.908c-0.481-0.533-0.446-1.141 0-1.576s1.197-0.409 1.615 0z"></path>
    </symbol>
    <symbol className="styleguide__chevron" viewBox="0 0 241.89333 241.89333" id="icon-wellcome-logo">
      <title>Wellcome Collection</title>
      <g transform="matrix(1.3333333,0,0,-1.3333333,0,241.89333)"
        id="g10"><g transform="scale(0.1)" id="g12"><path id="path14"
          d="m 629.707,293.34 c -5,-7.602 -15.625,-11.211 -25.078,-11.211 -18.848,0 -29.141,13.051 -30.664,31.781 h 107.598 v -20.57 z m -25.664,78.648 c 16.855,0 27.773,-12.129 27.773,-27.867 h -57.578 c 2.93,18.219 13.242,27.867 29.805,27.867 z m 77.52,-16.679 c -10.469,34.91 -36.211,54.179 -80.176,54.179 -33.926,0 -59.785,-17.218 -72.891,-42.609 l 12.012,38.672 h -60.254 l -21.524,-97.68 h -1.191 l -20.703,97.68 h -54.297 l -19.531,-97.68 h -0.879 l -23.027,97.68 H 278.867 L 326.68,248.539 h 59.375 l 23.027,97.121 h 0.859 l 22.442,-97.121 h 59.375 l 28.183,90.742 c -0.566,-4.14 -0.957,-8.383 -0.957,-12.703 0,-52.297 36.094,-81.969 85.059,-81.969 33.711,0 64.141,13.961 77.52,43.961 v -40.031 h 57.558 v 216.012 h -57.558 z m 786.827,16.679 c 16.83,0 27.69,-12.129 27.69,-27.867 h -57.52 c 2.97,18.219 13.32,27.867 29.83,27.867 z m 0.6,-89.859 c -18.94,0 -29.2,13.051 -30.68,31.781 h 113.07 c -0.28,60.801 -26.59,95.578 -85.65,95.578 -41.07,0 -70.29,-25.226 -79.35,-59.668 v 6.7 c 0,25.449 -13.26,52.968 -52.31,52.968 -22.67,0 -36.62,-8.136 -44.59,-15.988 -0.82,-0.941 -1.74,-1.859 -2.32,-2.738 -2.95,-3.082 -4.45,-5.172 -5.63,-6.383 -7.34,16.34 -25.11,25.109 -41.33,25.109 -21.24,0 -38.38,-6.66 -50.47,-25.109 h -0.92 v 21.172 h -55.82 V 248.539 h 57.62 v 85.031 c 0,16.629 5,29.008 20.37,29.008 18.61,0 19.74,-14.18 19.74,-29.008 v -85.031 h 57.94 v 85.031 c 0,16.629 4.98,29.008 20.31,29.008 18.32,0 19.81,-14.18 19.81,-29.008 v -85.031 h 57.6 v 53.731 c 9.51,-37.051 41.21,-57.661 82.01,-57.661 35.47,0 67.36,15.411 79.45,48.731 h -53.81 c -4.96,-7.602 -15.6,-11.211 -25.04,-11.211 z m -419.54,5.16 c -22.73,0 -25.99,22.981 -25.99,39.922 0,16.91 3.26,39.629 25.99,39.629 22.68,0 25.96,-22.719 25.96,-39.629 0,-16.941 -3.28,-39.922 -25.96,-39.922 z m -129.86,23.34 c -1.504,-12.758 -9.414,-23.34 -24.492,-23.34 -18.594,0 -25.41,14.492 -25.41,39.641 0,19.07 4.707,39.91 26.582,39.91 13.632,0 21.816,-9.09 21.816,-24.828 h 48.848 c -0.704,-4.84 -1.075,-9.782 -1.075,-14.801 0,-5.633 0.45,-11.172 1.329,-16.582 z m 129.86,98.859 c -43,0 -68.395,-21.636 -78.493,-50.738 -8.457,35.328 -40.723,50.738 -74.687,50.738 -42.774,0 -75.254,-25.367 -82.618,-65.039 V 464.551 H 756.055 V 248.539 h 57.597 v 59.231 c 7.246,-41.661 38.75,-63.161 80.84,-63.161 35.996,0 65.664,17.891 76.66,50.469 10.215,-28.93 35.548,-50.469 78.298,-50.469 57.56,0 83.54,39.02 83.54,82.602 0,43.527 -25.98,82.277 -83.54,82.277 z M 1263.76,1503.26 1142.48,1042.5 c -46.21,175.74 -88.57,334.57 -95.74,360.72 -18.52,67.52 -63.478,99.96 -129.767,99.96 -71.797,0 -123.692,0.08 -123.692,0.08 -0.351,0 -0.586,0 -0.586,0 L 671.328,1042.13 549.961,1503.26 277.754,1471.62 c 0,0 149.512,-569.237 176.836,-672.518 17.48,-66.114 52.519,-110.821 119.336,-128.942 69.101,-18.769 211.387,-61.14 211.387,-61.14 l 121.582,462.43 c 36.855,-140.141 65.058,-243.149 76.113,-283.622 16.504,-60.488 56.232,-99 125.352,-119.328 93.5,-27.48 200.73,-59.48 200.73,-59.48 l 227.31,864.26 z M 1814.17,0 H 0 V 1814.18 H 1814.17 V 0" /></g></g></symbol>
    </svg>
    <div class="styleguide">
      <div class="styleguide__sidebar">
        <h1 class="styleguide__heading">
          <a href="/" class="styleguide__logo-wrap">
            <svg class="styleguide__logo" aria-hidden=true>
              <use xlink:href="#icon-wellcome-logo"></use>
            </svg>
            <span>Pattern library</span>
          </a>
        </h1>

        <section class="styleguide__standalone">
          <a href="/about" class="styleguide__link styleguide__link--standalone">About</a>
          <a href="/palette" class="styleguide__link styleguide__link--standalone">Palette</a>
          <a href="/typography" class="styleguide__link styleguide__link--standalone">Typography</a>
          <a href="/layouts" class="styleguide__link styleguide__link--standalone">Layouts</a>
        </section>

        <section class="styleguide__section js-toggle-drawer">
          <h2 class="styleguide__subheading js-trigger">
            <svg class="styleguide__chevron" aria-hidden=true>
              <use xlink:href="#icon-chevron"></use>
            </svg>
            Templates
          </h2>
          <ul class="styleguide__list">
            {{#each templates as |template|}}
              <li class="styleguide__item"><a class="styleguide__link" href="/templates/{{template.key}}">{{template.name}}</a></li>
            {{/each}}
          </ul>
        </section>

        <section class="styleguide__section js-toggle-drawer">
          <h2 class="styleguide__subheading js-trigger">
            <svg class="styleguide__chevron" aria-hidden=true>
              <use xlink:href="#icon-chevron"></use>
            </svg>
            Components
          </h2>
          <ul class="styleguide__list">
            <li class="styleguide__item"><a class="styleguide__link" href="/components">All components</a></li>
            {{#each components as |component|}}
              <li class="styleguide__item"><a class="styleguide__link" href="/components/{{component.key}}">{{component.name}}</a></li>
            {{/each}}
          </ul>
        </section>
      </div>

      <div class="styleguide__main js-main">
        <nav class="styleguide__top-nav">
          <a class="styleguide__menu js-toggle-fullscreen" title="menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </nav>
        {{{ body }}}
      </div>
  </body>
</html>
