<h2 class="styleguide__item-heading">{{ component.name }}</h2>

{{{ renderComponent component.key default=true }}}

<section class="styleguide__section js-toggle-drawer">
  <h3 class="styleguide__subheading js-trigger">
    <svg class="styleguide__chevron" aria-hidden=true>
      <use xlink:href="#icon-chevron"></use>
    </svg>
    Data
  </h3>
  <code class="styleguide__code">
    <pre>{{{ prettyJson component.json }}}</pre>
  </code>
</section>

{{#each component.variants}}
  <h3 id="{{key}}">
    <a href="/components/{{../component.key}}/{{ key }}">{{ name }}</a>
  </h3>

  {{{ renderComponent ../component.key variant=key }}}

  <code class="styleguide__code">
    <pre>{{{ prettyJson json }}}</pre>
  </code>
{{/each}}
