<!--
<h2 class="styleguide__item-heading">Layouts</h2>

<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Layout number one</h3>
  {{{ renderComponent 'sample_component' heading="A layout" }}}
</section>

<h2 class="styleguide__item-heading">Grids</h2>
<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Grid number one</h3>
  {{{ renderComponent 'sample_component' heading="A grid" }}}
</section>

-->

<h2 class="styleguide__item-heading">Grids</h2>

<!--
<h3 class="styleguide__item-subheading">Grid 4</h3>
<div class="layout-container">
  <div class="grid grid--4 is-gutter-narrow">
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
  </div>
</div>
-->

<h3 class="styleguide__item-subheading">Grid 1</h3>
<div class="grid">
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 1 - breakout</h3>
<div class="grid grid--breakout">
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 2</h3>
<div class="grid">
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 3 - one up</h3>
<div class="grid grid--3-1-up">
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 3 - one left</h3>
<div class="grid grid--3-1-left">
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 4</h3>
<div class="grid">
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
</div>

<h3 class="styleguide__item-subheading">Grid 6</h3>
<div class="grid">
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
    {{{ renderComponent 'sample_component' default=true }}}
</div>
