<h2 class="styleguide__item-heading">Layouts</h2>

<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Layout 12</h3>
  <div class="layout-container">
    <div class="layout layout--12 is-gutter-narrow">
      <div class="layout__column layout__column--1">
        {{{ renderComponent 'sample_component' default=true }}}
      </div>
    </div>
  </div>
</section>

<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Layout 3-9</h3>
  <div class="layout-container">
    <div class="layout layout--3-9 is-gutter-narrow">
      <div class="layout__column layout__column--1">
        {{{ renderComponent 'sample_component' default=true }}}
      </div>
      <div class="layout__column layout__column--2">
        {{{ renderComponent 'sample_component' default=true }}}
      </div>
    </div>
  </div>
</section>

<section class="styleguide__section">
  <h2 class="styleguide__item-heading">Grids</h2>

  <h3 class="styleguide__item-subheading">Grid 4</h3>
  <div class="layout-container">
    <div class="grid grid--4 is-gutter-narrow">
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    </div>
  </div>
</section>

<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Grid 3</h3>
  <div class="layout-container">
    <div class="grid grid--3 is-gutter-narrow">
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
      <div class="grid__cell">{{{ renderComponent 'sample_component' default=true }}}</div>
    </div>
  </div>
</section>
